<div class="p-4 p-md-5 mb-4 text-white rounded bg-blue">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-principal mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/Perfil 2.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title">Gabriel Gomes dos Santos</h1>
                            <p class="card-text">
                                Comecei a trabalhar com informática empresarialmente em 2011.
                            </p>
                            <p class="card-text">
                                Atualmente Full-Stack Developer .Net.
                            </p>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<main class="container">
    <div class="row g-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Últimas do Blog
            </h3>
            <article class="blog-post">
                <h2 class="blog-post-title"><a href="#">5 dicas para sua carreira profissional</a></h2>
                <p class="blog-post-meta">Julho 27, 2022</p>
                <p>
                    Confira algumas dicas que podem ajudar a alavancar sua carreira como desenvolvedor front-end.
                </p>
                <hr>
            </article>
            <article class="blog-post">
                <h2 class="blog-post-title"><a href="#">Dependency Inversion Principle</a></h2>
                <p class="blog-post-meta">Março 23, 2022</p>
                <p>O DIP ou Dependency Inversion Principle (Princípio da Inversão de Dependência) prega que devemos
                    depender de abstrações e não de implementações.</p>
            </article>
            <article class="blog-post">
                <h2 class="blog-post-title"><a href="#">Sql Server: Descomplicando as Connection Strings</a></h2>
                <p class="blog-post-meta">Janeiro 14, 2022</p>
                <p>
                    As strings de conexão ou cadeia de caracteres de conexao especificam informações necessárias para se
                    conectar à um banco de dados. Elas podem conter informações de autenticação, direcionamento e
                    especificações de segurança.
                </p>
                <p>
                    Neste artigo o tema abordado são as strings de conexão com banco de dados. Entendendo a utilidade e
                    quando utilizar cada parâmetro apresentado da forma correta. Para manter a segurança necessária
                    neste processo e evitar erros.
                </p>
            </article>
            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>
</main>